* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  background-image: url(../images/images.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
#homepage {
  padding-left: 100px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  width: 70vh;
  height: 90%;
  border-radius: 20px;
}

#content {
  padding: 85px;
  margin: 160px;
  color: #000000;
  margin-right: 250px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

#content h1 {
  font-size: 70px;
}

#content h3 {
  font-size: 30px;
}
.btn {
  padding-top: 50px;
  text-decoration: none;
}

.nav-list {
  right: 20px;
  position: fixed;
  z-index: 999;
}

li {
  background: royalblue;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 50px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.about {
  padding: 20px;
  margin: 160px;
  color: #000000;
  margin-right: 250px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
#about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about h2 {
  text-align: center;
  font-size: 70px;
  padding-top: 100px;
  text-transform: uppercase;
  z-index: 2;
}

.about-watermark {
  position: relative;
}

.about-watermark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  color: lightgray;
  opacity: 0.5;
  content: "RESUME";
  z-index: -1;
  transform: translate(-50%, 25%) scale(2);
}

.contuct_heading {
  position: relative;
}

.contuct_heading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  color: lightgray;
  opacity: 0.5;
  z-index: -1;
  transform: translate(-50%, -60%) scale(2);
  content: "GET IN TOUCH";
}

.card-container-heading {
  position: relative;
}

.card-container-heading::before {
  content: "WHAT I DO";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  color: lightgray;
  opacity: 0.5;
  z-index: -1;
  transform: translate(-50%, -50%) scale(2);
}

.testimonial-heading {
  z-index: 999;
  position: relative;
}

.testimonial-heading::before {
  content: "REVIEWS";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  color: lightgray;
  opacity: 0.5;
  z-index: -1;
  transform: translate(-50%, -10%) scale(2);
}

#about h3 {
  margin: 20px;
  font-size: 30px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.education-exp {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#education-exp {
  /* margin: 20px; */
  margin-left: 20px;
  margin-right: 20px;
}
#education-exp h2 {
  text-align: center;
}

#education-exp div {
  margin: 20px;
  margin-right: 30px;
}

.expo h4 {
  margin-top: 10px;
  padding: 10px;
}
.expo h5 {
  margin-top: 10px;
  padding: 10px;
}
.expo p {
  margin-top: 10px;
  padding: 10px;
}
.education,
.experiance {
  padding: 20px;
  margin: 160px;
  color: #000000;
  margin-right: 250px;
  border-radius: 5px;
  /*background: rgba(255, 255, 255, 0.5);*/
}

.about-content .img img {
  margin-bottom: -6px;
}
i {
  font-size: 40px;
  color: black;
  padding: 25px;
}
i:hover {
  color: yellow;
  transition: 0.5s all ease-in;
}
#education-exp > .skills {
  width: 80%;
  margin: 0 auto;
}

.skills-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5% 10%;
  color: #000000;
  margin-top: 100px;
}

.card-container-heading {
  width: 100%;
  text-align: center;
  font-size: 70px;
}

.card {
  width: 48%;
  margin: 1%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  overflow: hidden;
  padding: 1%;
}

.card-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.card-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
}

.button {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s linear;
  width: 49%;
  margin-right: 1%;
}

.button:hover {
  font-size: 1.1em;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.card-heading,
.card-subtitle,
.card-description {
  margin-bottom: 10px;
}
#portfolio {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btn {
  color: black;
  border-style: solid;
  padding: 1%;
  border-radius: 20px;
  background-color: lightblue;
}

.my-details {
  display: flex;
  padding-top: 30px;
}

.bold {
  font-weight: bold;
}
.owl-carousel {
  padding: 100px 0px 100px 0px;
  overflow: hidden;
  color: #000000;
}
.testi {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  max-width: 800px;
}

.testi .image {
  height: 350px;
  max-width: 350px;
  border-radius: 50%;
  object-fit: cover;
}

.testi .content {
  width: 50%;
  max-width: 350px;
  padding: 0;
  padding-left: 20px;
}

h2 {
  padding-bottom: 3%;
}
h3 {
  padding-bottom: 2%;
}
.content {
  align-items: center;
  padding: 10%;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .testi {
    flex-direction: column;
  }
}
#testimonial h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 70px;
}
#testimonial {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#form {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5% 10%;
  color: black;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contuct_heading {
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.get-heading {
  text-align: center;
}
.label_info {
  display: none;
}

.input_info {
  display: flex;
  margin-bottom: 10px;
  border-radius: 74px;
  background: #e0e0e0;
  box-shadow: inset 3px 6px 66px #969696, inset -33px -33px 66px #ffffff;
  padding: 10px;
  width: 100%;
}
#massage {
  border-radius: 20px;
}

.butt_link {
  border-radius: 74px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  width: 100%;
  padding: 10px;
  background-color: royalblue;
}
.contuct_info {
  width: 100%;
}
.cont {
}
.cont > div {
  margin: 5%;
  display: flex;
}
.message_input {
  border-radius: 20%;
  padding: 10%;
  padding-bottom: 25%;
}
.buttons {
  padding-bottom: 10%;
}
.contact-icon {
  display: flex;
  padding: 60px;
}
footer {
  background-color: #1b1f23;
}
.footer {
  display: flex;
  justify-content: space-around;
  color: #cacaca;
  font-size: 15px;
}
.contact-ico {
  display: flex;
  color: #000000;
}

.p1 {
  font-weight: bold;
}
.contact-ico i {
  color: white;
}
#homepage p {
  margin-bottom: 20px;
}
.contact-icon i {
  color: #000000;
}

.color {
  animation: color-trans 6s infinite ease-in-out alternate;
}
@keyframes color-trans {
  50% {
    color: black;
  }
  100% {
    color: royalblue;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}
.EducationItem {
  display: flex;
  align-items: flex-start;
}

.EducationIcon {
  position: relative;
}

.EducationIcon::after {
  position: absolute;
  content: "";
  bottom: -120px;
  left: 50%;
  background: blue;
  transform: translateX(-50%);
  height: 130px;
  z-index: 1;
  width: 5px;
}

.EducationIcon i {
  background-color: blue;
  border-radius: 50%;
  z-index: 3;

  color: #e0e0e0;
}

.skills-list li {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.porfolio-gallery .portfolio-item {
  width: 100%;
  max-width: 450px;
  height: 400px;
  background: url(../images/Forms-vuyani.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  text-align: center;
  margin: 20px;
}

.porfolio-gallery .portfolio-item .portfolio-details {
  transition: all 0.5s ease;
  opacity: 0;
}

.porfolio-gallery .portfolio-item:hover .portfolio-details {
  opacity: 1;
}

.porfolio-gallery .portfolio-item:hover .btns-container {
  margin-top: 20px;
}
.porfolio-gallery .portfolio-item.item1 {
  background: url(../images/Timeline-vuyani.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.porfolio-gallery .portfolio-item.item2 {
  background: url(../images/Testimonials-vuyani.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.porfolio-gallery .portfolio-item.item3 {
  background: url(../images/Temp-conv.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.porfolio-gallery .portfolio-item.item4 {
  background: url(../images/mobile-shoe-store.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.porfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1650px;
  width: 95%;
  margin: auto;
  justify-content: flex-start;
}
.btn::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.btn:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.btn::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}

.button-container button {
  font-size: 25px;
  margin-right: 1%;
  padding: 10px 20px;
  margin: 20px;
  margin-right: 50px;
  margin-left: 120px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 200px;
}
.skll {
  display: flex;
  padding-left: 50px;
  padding-right: 20px;
  justify-content: space-around;
}
.skll .passion {
  margin: 20px;
  margin-right: 20px;
  margin-right: 30px;
}
